
<!DOCTYPE html>
<html lang="zh">
    <head>

        {% block MetaBlock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="{{DATA["Base"]}}/favicon.svg">
        {% if 'Article' in DATA %}
        <link rel="canonical" href="{{DATA["Domain"]}}{{DATA["Base"]}}/articles/{{DATA["Article"].urlPath()}}" />
        {% endif %}
        {% endblock %}

        {% block TitleBlock %}
        <title>{{DATA['Title']}}</title>
        <meta name="description" content="{{DATA['Description']}}">
        {% endblock %}

        {% block StyleBlock %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" >
        <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/nord.min.css" rel="stylesheet">
        <link href="{{DATA["Base"]}}/css/normalize.css" rel="stylesheet">
        <link href="{{DATA["Base"]}}/css/bootstrap-quartz-theme.min.css" rel="stylesheet">
        <link href="{{DATA["Base"]}}/css/github-markdown.css" rel="stylesheet">
        <link href="{{DATA["Base"]}}/css/custom.css" rel="stylesheet">
        <link href="{{DATA["Base"]}}/css/custom-dark.css" rel="stylesheet">
        {% endblock %}
        
        {% block ScriptBlock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        <script src="{{DATA["Base"]}}/js/custom.js"></script>
        {% endblock %}

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-HEWPX7E6EV"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-HEWPX7E6EV');
        </script>

        <script>
            {% if 'Article' in DATA and DATA['Article'].author() %}
            document.oncopy = makeOnCopy("{{DATA['Article'].author()}}");
            {% else %}
            document.oncopy = makeOnCopy("{{DATA['Nickname']}}");
            {% endif %}
        </script>
    </head>

    <body class="d-flex flex-column">
        {% block NavBlock %}

        {% endblock %}

        <div class="content d-flex flex-grow-1 m-2">
            <aside class="no-print left-side flex-shrink-0 d-flex flex-column"> 
            {% block LeftSideBlock %}

            {% endblock %}
            </aside>

            <main class="main-content flex-grow-1 flex-shrink-1 d-flex flex-column overflow-x-hidden">
                {% block MainContentBlock %}

                {% endblock %}
            </main>

            <aside class="no-print right-side flex-shrink-0 d-flex flex-column">
            {% block RightSideBlock %}

            {% endblock %}
            </aside>
        </div>

        <footer class="no-print">
            {% block FooterBlock %}

            {% endblock %}
        </footer>

        {% block FinalBlock %}

        {% endblock %}
    </body>
</html>
