@media (prefers-color-scheme: dark) {
    body { 
        background-color: #212121; 
        background-image: linear-gradient(90deg, #212121, #323232, #212121);
    }

    .article-header {
        background-image: linear-gradient(90deg, #323232, #212121, #323232);
    }

    .article-border-left {
        border: 2px solid #212121;
    }

    .article-border-right {
        border: 2px solid #212121;
    }

    .comment {
        background-color: rgb(22,27,34);
    }

    .markdown-body img {
        filter: hue-rotate(180deg) invert(1);
    }
}