{% extends "frameworks/base.html" %}

{% block NavBlock %}

{% include 'components/NavBar.html' %}

{% endblock %}

{% block LeftSideBlock %}

{% include 'components/UserCard.html' %}

{% include 'components/CategoryCard.html' %}

{% endblock %}

{% block MainContentBlock %}

{% for article in (DATA['Category'].articles()[DATA['Page']*DATA['PageSize']:(DATA['Page']+1)*DATA['PageSize']]) %}

{% include 'components/ArticleCard.html' %}

{% endfor %}

<div>
    <ul class="pagination float-end">
        {% if DATA['Page'] == 0 %}
        <li class="page-item disabled">
            <a class="page-link" href="#"><i class="bi bi-chevron-double-left"></i></a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="/{{DATA['Base']}}/categories/{{DATA['Category'].urlPath()}}-1.html"><i class="bi bi-chevron-double-left"></i></a>
        </li>
        {% endif %}

        {% for page in range(DATA['Page'] - 2, DATA['Page'] + 3) %}
            {% if page < 0 or page >= DATA['PageCount'] %}
            {% elif DATA['Page'] == page %}
            <li class="page-item active">
                <a class="page-link" href="/{{DATA['Base']}}/categories/{{DATA['Category'].urlPath()}}-{{page+1}}.html">{{page+1}}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="/{{DATA['Base']}}/categories/{{DATA['Category'].urlPath()}}-{{page+1}}.html">{{page+1}}</a>
            </li>
            {% endif %}
        {% endfor %}

        {% if DATA['Page'] == DATA['PageCount'] - 1 %}
        <li class="page-item disabled">
            <a class="page-link" href="#"><i class="bi bi-chevron-double-right"></i></a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="/{{DATA['Base']}}/categories/{{DATA['Category'].urlPath()}}-{{DATA['PageCount']}}.html"><i class="bi bi-chevron-double-right"></i></a>
        </li>
        {% endif %}
    </ul>
</div>

{% endblock %}

{% block RightSideBlock %}

{% include 'components/GitHubStatCard.html' %}

{% include 'components/MostLanguageCard.html' %}

{% include 'components/FriendsCard.html' %}

{% include 'components/RecentArticleCard.html' %}

{% endblock %}

{% block FooterBlock %}

{% include 'components/PoweredBy.html' %}

{% endblock %}

{% block FinalBlock %}

<script>
    fetchUserInfo("{{DATA['Username']}}");
    scanTime();
</script>

{% endblock %}