<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Phosphophyllite</title>
    </head>
    <body>
        <article>
            <p>Phosphophyllite @ {{ node }}</p>
            <p>Python: {{ python_version }}</p>
            <p>OS: {{ system }} {{ release }} {{ machine }}</p>
            <p>CPU: {{ cpu_name }} @ {{ cpu_freq }}</p>
            <p>Disk: {{ disk_usage }} / {{ disk_total }} GiB</p>
            <p>Data: <em>{{ web_page_count }}</em> pages and <em>{{ inverted_index_count }}</em> inverted indexes</p>
        </article>
    </body>
</html>