<div class="card">
    <div class="card-body">
        <h4 class="card-title">文章分类</h4>
        <h6 class="card-subtitle mb-2 text-muted">Categories</h6>

        <div style="width: 100%;display: flex; flex-wrap: wrap; gap: 4px;">
            {% for category in DATA['Categories'] %}
            <a class="category-link link-underline link-underline-opacity-0" href="{{DATA["Base"]}}/categories/{{category.urlPath()}}-1.html">
                <span>
                    {{category.name()}}
                </span>
                <span style="flex: 1;"></span>
                <span class="badge" style="background-color: #ec407a;">
                    {{category.count()}}
                </span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>