<div class="d-flex flex-column flex-grow-1">
    <div class="no-print article-header d-flex px-1 text-nowrap" style="height: 4px;">
    </div>

    <div class="np-print d-flex flex-grow-1" style="width: 100%;background-color: white;">
        <div class="no-print article-border-left"></div>
        <div class="no-print flex-grow-1" style="padding: 8px;">
            <script src="https://giscus.app/client.js"
                data-repo="{{DATA['Repo']}}"
                data-repo-id="R_kgDONe28cg"
                data-category="Announcements"
                data-category-id="DIC_kwDONe28cs4CmID9"
                data-mapping="url"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="light"
                data-lang="zh-CN"
                crossorigin="anonymous"
                async>
            </script>
        </div>
        <div class="no-print article-border-right"></div>
    </div>


    <div class="no-print article-header d-flex px-1 text-nowrap" style="height: 4px;">
    </div>
</div>
