<nav class="navbar navbar-expand-lg card no-print" data-bs-theme="dark" style="border-radius: 0;">
    <div class="container-fluid">
        <span class="navbar-brand">{{DATA['Nickname']}} 的博客</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/{{DATA['Base']}}">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://github.com/{{DATA['Username']}}" target="_blank">GitHub</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
            </form>
        </div>
    </div>
</nav>