<div class="card">
    <div class="card-body">
        <div style="margin: auto;">
            <img class="github-avatar" src="{{DATA["Avatar"]}}"/>
            <h4 class="github-name card-title">{{DATA["Nickname"]}}</h4>
            <h6 class="github-username card-subtitle mb-2 text-muted">{{DATA["Username"]}}</h6>
            <p class="github-brief card-text">{{DATA["UserBrief"]}}</p>
            <p><i class="bi bi-geo-alt-fill"></i> <span class="github-location mx-1"></span> {{DATA["UserLocation"]}}</p>
            <p><i class="bi bi-github"></i> <a class="github-url mx-1" href="{{DATA["UserLink"]}}" class="card-link" target="_blank"></a></p>
        </div>
    </div>
</div>